
body {
  background: url('../img/background.png');
}

h2, a, a:link, a:hover, a:visited, a:active, a:focus {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}

.pipeline-badge {
  margin: 1px;
  padding: 0px;
  border-radius: 5px;
}

.multistage-state {
  white-space:nowrap;
}

.dot {
  background: #000000;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: white;
  margin: 11px 0 0 3px;
  display: inline-block;
}

.build-passed { background-color: darkgreen;}
.build-failed { background-color: darkred;}
.build-building { background-color: #f59400;}
.build-none { background-color: gray;}

/*
 * Striped background patterns inspired by Lea Verou
 * http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/
 */
.build-building {
    -webkit-background-size: 50px 50px;
    -moz-background-size:    50px 50px;
    background-size:         50px 50px; /* Controls the size of the stripes */
    background-image: -webkit-gradient(linear, 0 100%, 100% 0,
      color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
      color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
      color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
      to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
}