
body {
  background: url('../img/background.png');
}

h2, a, a:link, a:hover, a:visited, a:active, a:focus {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}


.pipeline-badge {
  margin: 1px;
  padding: 0px;
  display: block;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.build-passed { background-color: darkgreen;}
.build-failed { background-color: darkred;}
.build-building { background-color: #f59400;}
.build-none { background-color: gray;}