

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: dimgrey;
}

.btn {
    margin: 3px;
    padding: 5px;
    font-size: 30px;
    font-weight: 900;
}

.ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}












