
body {
  background: url('../img/background.png');
}

h2, a, a:link, a:hover, a:visited, a:active, a:focus, span {
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}

.pipeline-badge {
  margin: 1px;
  padding: 0px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

.iblock {
  display: inline-block;
}

.dot {
  background: #000000;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: white;
  margin: 11px 0 0 3px;
  display: inline-block
}
